﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>KindergartenSoftwareProject</title>
    <link rel="stylesheet" href="~/bundles/bootstrap/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

    <!-- Plugin CSS -->
    @Styles.Render("~/bundles/css")

    @Scripts.Render(
        "~/bundles/jquery",
        "~/bundles/jqueryval",
        "~/bundles/jqueryplugins",
        "~/bundles/poppers",
        "~/bundles/jqueryplugins",
        "~/bundles/scripts",
        "~/bundles/bootstrap/js"
    )

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.standalone.min.css" integrity="sha512-TQQ3J4WkE/rwojNFo6OJdyu6G8Xe9z8rMrlF9y7xpFbQfW5g8aSWcygCQ4vqRiJqFsDsE1T6MoAOMJkFXlrI9A==" crossorigin="anonymous" />
</head>

<body>
    <div class="d-flex" id="wrapper">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading"><span><strong>Admin Homepage</strong></span></div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action bg-primary text-light" href="#">Overview</a><a class="list-group-item list-group-item-action bg-light" href="#">User Verification</a><a class="list-group-item list-group-item-action bg-light"
                                                                                                                                                                                                         href="#">User Payments</a><a class="list-group-item list-group-item-action bg-light" href="#">Student Rapport</a><a class="list-group-item list-group-item-action bg-light" href="#">Daily Schedule</a><a class="list-group-item list-group-item-action bg-light"
                                                                                                                                                                                                                                                                                                                                                                                                                   href="#">Weekly Schedule</a><a class="list-group-item list-group-item-action bg-light" href="#">User Data</a><a class="list-group-item list-group-item-action bg-light" href="#">Logout</a>
            </div>
        </div>
        <div id="page-content-wrapper">
            @RenderBody()
        </div>
    </div>
</body>

</html>