﻿<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"><span><strong>Admin Homepage</strong></span></div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action bg-primary text-light" href="#">Overview</a><a class="list-group-item list-group-item-action bg-light" href="#">User Verification</a><a class="list-group-item list-group-item-action bg-light"
                                                                                                                                                                                                 href="#">User Payments</a><a class="list-group-item list-group-item-action bg-light" href="#">Student Rapport</a><a class="list-group-item list-group-item-action bg-light" href="#">Schedule</a><a class="list-group-item list-group-item-action bg-light"
                                                                                                                                                                                                                                                                                                                                                                                                     href="#">User Data</a><a class="list-group-item list-group-item-action bg-light" href="#">Logout</a>
    </div>
</div>