﻿<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"><img src="~/img/TK_Islam_Dzakira_Logo.jpg" style="width: 150px;"></div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action bg-primary text-light" href="#">Overview</a><a class="list-group-item list-group-item-action bg-light" href="#">Rapport</a><a class="list-group-item list-group-item-action bg-light" href="#">Schedule</a>
        <a class="list-group-item list-group-item-action bg-light" href="#">Finance</a><a class="list-group-item list-group-item-action bg-light" href="#">User Data</a><a class="list-group-item list-group-item-action bg-light" href="#">Logout</a>
    </div>
</div>