﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>KindergartenSoftwareProject</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    @*<link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
        <link rel="stylesheet" href="assets/css/styles.min.css">*@

    <!-- Plugin CSS -->
    @Styles.Render("~/bundles/css");
</head>
<body>
    <div class="d-flex" id="wrapper">
        @Html.Partial("UserNav")
        <div id="page-content-wrapper">
            <div class="container">
                <button class="btn btn-primary" id="menu-toggle" type="button" style="margin-top: 1rem;"><i class="fa fa-bars"></i></button>
                <h1>Overview</h1>
                <div class="alert alert-info" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><span><strong>New semester is arriving soon!</strong>&nbsp;Make sure to remember to pay the tuition</span></div>
                <div class="alert alert-warning" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><span><strong>Tuition payment is in 5 days!</strong>&nbsp;Remember to pay the tuition!</span></div>
                <div class="card-deck">
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 style="margin: 0;">Next Schedule<br></h3>
                                </div>
                                <div class="col d-xl-flex justify-content-xl-end"><i class="fa fa-arrow-right" style="font-size: 25px;"></i></div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">14 August 2020</h4>
                            <ul>
                                <li>Jam ke-1 : Reading</li>
                                <li>Jam ke-2 : Writing</li>
                                <li>Jam ke-3 : Speaking</li>
                                <li>Jam ke-4 : Math</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 style="margin: 0;">Financial Status</h3>
                                </div>
                                <div class="col d-xl-flex justify-content-xl-end"><i class="fa fa-arrow-right d-xl-flex justify-content-xl-start" style="font-size: 25px;"></i></div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-sm">
                                    <tbody>
                                        <tr class="table-warning">
                                            <td>Books</td>
                                            <td>31 August 2020<br></td>
                                            <td>Pending</td>
                                        </tr>
                                        <tr class="table-danger">
                                            <td>Books</td>
                                            <td>29 August 2020<br></td>
                                            <td>Failed</td>
                                        </tr>
                                        <tr>
                                            <td>Tuition</td>
                                            <td>20 August 2020<br></td>
                                            <td>Success</td>
                                        </tr>
                                        <tr>
                                            <td>Tuition</td>
                                            <td>19 January 2020<br></td>
                                            <td>Success<br></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
