﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>KindergartenSoftwareProject</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    @Styles.Render("~/bundles/css");
</head>
</head>

<body>
    <!-- Start: Navigation Clean -->
    @Html.Partial("UserNav")
    <!-- End: Navigation Clean -->
    <div class="container">
        <div class="border rounded mx-auto" style="width: 850px;margin: 50px 0px;padding: 20px;">
            <h1>Schedule</h1>
            <div class="row">
                <div class="col">
                    <p class="align-self-center">Displaying five days of schedule</p>
                </div>
                <div class="col-auto">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Select amount</button>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">Three days</a><a class="dropdown-item" role="presentation" href="#">Five Days</a><a class="dropdown-item" role="presentation" href="#">Ten Days</a></div>
                    </div>
                </div>
            </div>
            <div class="table-responsive" style="margin-top: 10px;">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>10 August</th>
                            <th>11 August</th>
                            <th>12 August</th>
                            <th>13 August</th>
                            <th>14 August</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Jam ke-1</strong></td>
                            <td>Reading</td>
                            <td>Reading</td>
                            <td>Speaking</td>
                            <td>Speaking<br></td>
                            <td>Math<br></td>
                        </tr>
                        <tr>
                            <td><strong>Jam ke-2</strong></td>
                            <td>Writing</td>
                            <td>Writing</td>
                            <td>Math</td>
                            <td>Math<br></td>
                            <td>Speaking<br></td>
                        </tr>
                        <tr>
                            <td><strong>Jam ke-3</strong></td>
                            <td>Speaking</td>
                            <td>Speaking</td>
                            <td>Writing</td>
                            <td>Writing</td>
                            <td>Reading</td>
                        </tr>
                        <tr>
                            <td><strong>Jam ke-4</strong></td>
                            <td>Math</td>
                            <td>Math</td>
                            <td>Reading</td>
                            <td>Reading</td>
                            <td>Writing</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @Scripts.Render()
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>