﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>KindergartenSoftwareProject</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    @Styles.Render("~/bundles/css");
</head>

<body>
    <!-- Start: Navigation Clean -->
    @Html.Partial("UserNav")
    <!-- End: Navigation Clean -->
    <div class="container">
        <div class="border rounded mx-auto" style="width: 850px;margin: 50px 0px;padding: 20px;">
            <h1>User Data</h1>
            <div style="padding-right: 10px;padding-left: 10px;">
                <form>
                    <div>
                        <h2>Parent</h2>
                        <div class="form-group"><label>Full Name</label><input class="form-control" type="text"></div>
                        <div class="form-group"><label>NIK</label><input class="form-control" type="text"></div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group"><label>Birth Place</label><input class="form-control" type="text"></div>
                            </div>
                            <div class="col">
                                <div class="form-group"><label>Birth Date</label><input class="form-control" type="date"></div>
                            </div>
                        </div>
                        <div class="form-group"><label>Address</label><textarea class="form-control" rows="4"></textarea></div>
                    </div>
                    <hr>
                    <div>
                        <h2>Child</h2>
                        <div class="form-group"><label>Full Name</label><input class="form-control" type="text"></div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group"><label>Birth Place</label><input class="form-control" type="text"></div>
                            </div>
                            <div class="col">
                                <div class="form-group"><label>Birth Date</label><input class="form-control" type="date"></div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <h2>Documents</h2>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group"><label>KTP&nbsp;</label><input type="file" class="form-control-file"></div>
                            </div>
                            <div class="col">
                                <div class="form-group"><label>Kartu Keluarga</label><input type="file" class="form-control-file"></div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="text-right justify-content-xl-end"><button class="btn btn-danger" type="button" style="margin: 5px;">Clear</button><button class="btn btn-primary" type="button" style="margin: 5px;">Save</button></div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>