﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>KindergartenSoftwareProject</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
@Styles.Render("UserNav")
</head>
<body>
    <div class="d-flex" id="wrapper">
        @Html.Partial("UserNav")
        <div id="page-content-wrapper">
            <div class="container">
                <button class="btn btn-primary" id="menu-toggle" type="button" style="margin-top: 1rem;"><i class="fa fa-bars"></i></button>
                <div style="height: 1rem;"></div>
                <h1>Finance</h1><button class="btn btn-primary" type="button" style="margin-bottom: 10px;">Add New Payment</button>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Payment Type</th>
                                <th>Date</th>
                                <th>Payment Amount</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-warning">
                                <td class="align-middle">Books</td>
                                <td class="align-middle">31 August 2020</td>
                                <td class="align-middle">Rp. 200.000</td>
                                <td class="align-middle">Pending</td>
                                <td class="align-middle"><button class="btn btn-primary btn-sm" type="button">Details</button></td>
                            </tr>
                            <tr class="table-danger">
                                <td class="align-middle">Books</td>
                                <td class="align-middle">29 August 2020</td>
                                <td class="align-middle">Rp. 200.000</td>
                                <td class="align-middle">Failed</td>
                                <td class="align-middle"><button class="btn btn-primary btn-sm" type="button">Details</button></td>
                            </tr>
                            <tr>
                                <td class="align-middle">Tuition</td>
                                <td class="align-middle">20 August 2020</td>
                                <td class="align-middle">Rp. 1.500.000</td>
                                <td class="align-middle">Success</td>
                                <td class="align-middle"><button class="btn btn-primary btn-sm" type="button">Details</button></td>
                            </tr>
                            <tr>
                                <td class="align-middle">Tuition</td>
                                <td class="align-middle">19 January 2020</td>
                                <td class="align-middle">Rp. 1.500.000</td>
                                <td class="align-middle">Success</td>
                                <td class="align-middle"><button class="btn btn-primary btn-sm" type="button">Details</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <div class="row d-xl-flex justify-content-xl-end">
                        <div class="col-auto" style="padding: 0px;">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">10</button>
                                <div class="dropdown-menu" role="menu">
                                    <a class="dropdown-item" role="presentation" href="#">5</a><a class="dropdown-item" role="presentation" href="#">10</a><a class="dropdown-item" role="presentation" href="#">25</a><a class="dropdown-item" role="presentation"
                                                                                                                                                                                                                          href="#">50</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <nav>
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/script.min.js"></script>
</body>
</html>