﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>KindergartenSoftwareProject</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
@Styles.Render("UserNav")
</head>
<body>
    <div class="d-flex" id="wrapper">
        @Html.Partial("UserNav")
        <div id="page-content-wrapper">
            <div class="container">
                <button class="btn btn-primary" id="menu-toggle" type="button" style="margin-top: 1rem;"><i class="fa fa-bars"></i></button>
                <div style="height: 1rem;"></div>
                <div class="row h-100">
                    <div class="col-auto my-auto"><a href="#"><i class="fa fa-arrow-left" style="font-size: 2rem;"></i></a></div>
                    <div class="col my-auto">
                        <h1 style="margin-bottom: 0px;">Add New Payment</h1>
                    </div>
                </div>
                <form style="padding: 2rem;">
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label>Payment Type</label>
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Tuition</button>
                                    <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">Tuition</a><a class="dropdown-item" role="presentation" href="#">Books</a><a class="dropdown-item" role="presentation" href="#">Etc.</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group"><label>Payment Proof</label><input type="file" class="form-control-file"></div>
                        </div>
                    </div>
                    <div class="text-right justify-content-xl-end"><button class="btn btn-primary" type="button" style="margin: 5px;">Submit</button></div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/script.min.js"></script>
</body>
</html>