﻿<div class="jumbotron text-right border rounded-0 bg-cover text-light vertical-center" style="background-image: url(/img/Fron_Page.jpg);height: calc(100vw*0.4);">
    <div class="container" style="width: calc(100vw*1);">
        <h1 style="font-size: 4vw;"><br>TK Islam Dzakira<br></h1>
        <p style="font-size: 1.5vw;">The&nbsp;world&nbsp;most&nbsp;trusted&nbsp;daycare,&nbsp;for&nbsp;your&nbsp;child<br></p>
        <p><a class="btn btn-outline-primary" role="button">Learn more</a></p>
    </div>
</div>
<!-- Start: Features Boxed -->
<div class="features-boxed" style="background-color: transparent;">
    <div class="container">
        <!-- Start: Intro -->
        <div class="intro">
            <h2 class="text-center">Why Choosing Us?</h2>
            <p class="text-center">In Aperture Daycare, we always strive to bring the best for all the child brought to us. Because we understand, that children will be the one who will carry our legacy.</p>
        </div>
        <!-- End: Intro -->
        <!-- Start: Features -->
        <div class="row justify-content-center features">
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <i class="fa fa-map-marker icon"></i>
                    <h3 class="name">Available everywhere</h3>
                    <p class="description">Aperture Daycare is available in 200 nations worldwide, in major cities</p><a class="learn-more" href="#">Learn more »</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <i class="fa fa-clock-o icon"></i>
                    <h3 class="name">Always available</h3>
                    <p class="description">We always working 24/7 to maximize your child potentials</p><a class="learn-more" href="#">Learn more »</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <i class="fa fa-lightbulb-o icon"></i>
                    <h3 class="name">Advanced AI</h3>
                    <p class="description">As one of the inventor for the most intelligent AI, we developed an AI specifically for the daycare</p><a class="learn-more" href="#">Learn more »</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <i class="fa fa-leaf icon"></i>
                    <h3 class="name">Eco-Friendly</h3>
                    <p class="description">Our energy is generated with the advanced technology, certified by FSC</p><a class="learn-more" href="#">Learn more »</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <i class="fa fa-money icon"></i>
                    <h3 class="name">Money Back Guarantee</h3>
                    <p class="description">If your child doesn't grow in our daycare for 2 months, you get your money back</p><a class="learn-more" href="#">Learn more »</a>
                </div>
            </div>
        </div>
        <!-- End: Features -->
    </div>
</div>
<!-- End: Features Boxed -->
<div class="container">
    <div class="row" id="About">
        <div class="col-md-6 text-right">
            <h1>Who are we?</h1>
        </div>
        <div class="col-md-6">
            <p>
                We are a company which are a child of Aperture Science, who develops technology for the humankind.<br>We recognized, that children will be the one who will inherit our legacy, but the current education quality overall is low.<br>And thus,
                Aperture Daycare was born.
            </p>
        </div>
    </div>
    <div class="row" id="Contact">
        <div class="col-md-6 text-right">
            <h1>Contact Info</h1>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-1 align-self-center"><i class="fa fa-at"></i></div>
                <div class="col" style="padding: 0px;"><a href="#">dzakira_cahaya_ilmu@gmail.com</a></div>
            </div>
            <div class="row">
                <div class="col-1 align-self-center"><i class="fa fa-facebook"></i></div>
                <div class="col" style="padding: 0px;"><a href="https://web.facebook.com/Dzakira-Cahaya-Ilmu-268301803511672/">Dzakira Cahaya Ilmu</a></div>
            </div>
            <div class="row">
                <div class="col-1 align-self-center"><i class="fa fa-twitter"></i></div>
                <div class="col" style="padding: 0px;"><a href=""></a></div>
            </div>
            <div class="row">
                <div class="col-1 align-self-center"><i class="fa fa-instagram"></i></div>
                <div class="col" style="padding: 0px;"><a href="https://www.instagram.com/dzakira_cahaya_ilmu/">Dzakira_Cahaya_Ilmu</a></div>
            </div>
        </div>
    </div>
</div>