﻿@model LVL2_ASPNet_Final_Project.Models.tbl_akun

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>KindergartenSoftwareProject</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
    @Styles.Render("~/bundles/css")
</head>

<body>
    <!-- Start: Navigation Clean -->
    @Html.Partial("HomepageNav")
    <!-- End: Navigation Clean -->
    <div class="container-fluid d-lg-flex justify-content-lg-center align-items-lg-center" style="height: 80vh;">
        <form class="border rounded m-auto" style="height: auto;padding: 50px;max-width: 450px;">
            @using (Html.BeginForm("Login","Home",FormMethod.Post))
            {

                <h1 class="text-center" style="margin-bottom: 20px;">Login</h1>
                <div class="input-group" style="margin-top: 10px;margin-bottom: 10px;">
                    <div class="input-group-prepend"><span class="input-group-text"><i ID="TEXT1" class="fas fa-at">@Html.EditorFor(x => x.email, new { type ="email", PlaceHolder="example@email.com"})</i></span></div>
                </div>
                <div class="input-group" style="margin-top: 10px;margin-bottom: 10px;">
                    <div class="input-group-prepend"><span class="input-group-text"><i ID="TEXT2" class="fas fa-key">@Html.PasswordFor(x => x.password_login)</i></span></div>
                </div>
                <div class="form-group d-xl-flex align-items-xl-center" style="padding: 5px;margin-bottom: 5px;"><button id="Login" class="btn btn-primary btn-block" type="submit" value="Login" formmethod="post">Login</button></div>
                <div class="form-group d-sm-flex d-xl-flex justify-content-sm-center justify-content-xl-center align-items-xl-center"><a href="register.html">Haven't joined yet? Join us!</a></div>
            }
        </form>
        
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
