﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>KindergartenSoftwareProject</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    @Styles.Render("~/bundles/css")

</head>

<body>
    <!-- Start: Navigation Clean -->
    @Html.Partial("HomepageNav")
    <!-- End: Navigation Clean -->
    <div class="container-fluid d-lg-flex justify-content-lg-center align-items-lg-center" style="height: 80vh;">
        <form class="border rounded m-auto" style="height: auto;padding: 50px;max-width: 450px;">
            <h1 class="text-center" style="margin-bottom: 20px;">Register</h1>
            <div class="alert alert-warning" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><span><strong>Use a valid email! </strong>We will use this to confirm your account</span></div>
            <div class="alert alert-info"
                 role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><span>After joining in, you need to <strong>pay a tuition fee</strong>, and <strong>submit the proof of payment</strong></span></div>
            <div class="input-group" style="margin-top: 10px;margin-bottom: 10px;">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-at"></i></span></div><input class="form-control" type="email" placeholder="Email" inputmode="email">
            </div>
            <div class="input-group" style="margin-top: 10px;margin-bottom: 10px;">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-phone"></i></span></div><input class="form-control" type="email" placeholder="Phone Number" inputmode="tel">
            </div>
            <div class="input-group" style="margin-top: 10px;margin-bottom: 10px;">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-key"></i></span></div><input class="form-control" type="password" placeholder="Password">
            </div>
            <div class="input-group" style="margin-top: 10px;margin-bottom: 10px;">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-key"></i></span></div><input class="form-control" type="password" placeholder="Confirm Password">
            </div>
            <div class="form-group d-xl-flex align-items-xl-center" style="padding: 5px;margin-bottom: 5px;"><button class="btn btn-primary btn-block" type="submit">Register</button></div>
            <div class="form-group d-sm-flex d-xl-flex justify-content-sm-center justify-content-xl-center align-items-xl-center"><a href="login.html">Already joined? Login here!</a></div>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>