﻿
@{
    ViewBag.Title = "DailyScheduleEdit";
    Layout = "~/Views/Admin/Shared/AdminLayout.cshtml";
}

<div class="container">
    <div>
        <div class="row">
            <div class="col-auto"><button class="btn btn-primary" id="menu-toggle" type="button" style="margin-top: 1rem;width: 40px;margin-bottom: 10px;"><i class="fa fa-bars"></i></button></div>
        </div>
        <div class="row h-100" style="margin-bottom: 1rem;">
            <div class="col-auto my-auto">
                <div class="text-center" style="width: 40px;"><a href="#"><i class="fa fa-arrow-left" style="font-size: 2rem;"></i></a></div>
            </div>
            <div class="col-auto my-auto">
                <h1 style="margin-bottom: 0px;">Edit Schedule</h1>
            </div>
            <div class="col text-muted my-au to" style="padding: 0px;">
                <h3 style="margin-bottom: 0px;">on /SOMETHING/</h3>
            </div>
        </div>
    </div>
    <form id="scheduleform">
        @* <div class="form-row d-none" id="dummy-form-row"></div> *@
        <div class="form-row align-items-center" style="margin-bottom: 10px;">
            <div class="col-auto"><label class="col-form-label">Time</label></div>
            <div class="col-auto"><input class="form-control" type="time"></div>
            <div class="col-auto"><input class="form-control" type="time"></div>
            <div class="col-auto"><label class="col-form-label">Subject</label></div>
            <div class="col-auto">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-primary active">
                        <input type="radio" name="target" id="individual" value="daily" autocomplete="off" checked> Daily
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="target" id="class" value="weekly" autocomplete="off"> Weekly
                    </label>
                </div>
            </div>

            <div class="col" id="dailyopt">
                <div class="form-row">
                    <div class="col-auto">
                        <label class="col-form-label">Weekly Subject Index</label>
                    </div>
                    <div class="col">
                        <input class="form-control" type="number" value="0">
                    </div>
                </div>
            </div>

            <div class="col" id="weeklyopt">
                <div class="col-auto"><input class="form-control" type="text" value="Morning Prayer"></div>
            </div>

            <div class="col-auto"><button class="btn btn-danger rowdelete" type="button"><i class="fa fa-trash-o"></i></button></div>
        </div>
        <div class="form-row" id="lastrow" style="margin-bottom: 10px;">
            <div class="col ml-auto"><button class="btn btn-success btn-block" type="button" id="addbutton"><i class="fa fa-plus"></i><span style="margin-left: 5px;">Add new time</span></button></div>
        </div>
    </form>
</div>

@* ============================ Script =================================== *@

<script>
    function rowCreate (data){
        return `<div class="form-row align-items-center" style="margin-bottom: 10px;">
            <div class="col-auto"><label class="col-form-label">Time</label></div>
            <div class="col-auto"><input class="form-control" type="time" value="${data.time_after}"></div>
            <div class="col-auto"><input class="form-control" type="time" value="${data.time_before}"></div>
            <div class="col-auto"><label class="col-form-label">Subject</label></div>
            <div class="col-auto">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-primary ${data.subject_type == "weekly" || "active"}">
                        <input type="radio" name="type" id="daily" value="daily" autocomplete="off" ${data.subject_type == "weekly" || "checked"}> Daily
                    </label>
                    <label class="btn btn-primary ${data.subject_type == "daily" || "active"}">
                        <input type="radio" name="type" id="weekly" value="weekly" autocomplete="off" ${data.subject_type == "daily" || "checked"}> Weekly
                    </label>
                </div>
            </div>

            <div class="col weeklyopt ${data.subject_type == "weekly" || "d-none"}">
                <div class="form-row">
                    <div class="col-auto">
                        <label class="col-form-label">Weekly Subject Index</label>
                    </div>
                    <div class="col">
                        <input class="form-control" type="number" value="${data.subject_index}">
                    </div>
                </div>
            </div>

            <div class="col dailyopt ${data.subject_type == "daily" || "d-none"}">
                <div class="col-auto"><input class="form-control" type="text" placeholder="Subject name" value="${data.subject_name}"></div>
            </div>

            <div class="col-auto"><button class="btn btn-danger rowdelete" type="button"><i class="fa fa-trash-o"></i></button></div>
        </div>`
    }

    $(document).ready(function (){
        function onScheduleListGet (data, success){
            console.log(data);

            for (datavalue of data) {
                $("#lastrow").before(rowCreate(datavalue));
            }

            // Target group on change
            $('input[name=type]').change(function () {
                var value = $('input[name=type]:checked').val();
                let currentRow = $(this).parent().closest(".form-row");

                currentRow.find(".weeklyopt").removeClass("d-none").addClass(value == "weekly" || "d-none")
                currentRow.find(".dailyopt").removeClass("d-none").addClass(value == "daily" || "d-none")
            });

            $(".rowdelete").click(function (){
                $(this).parent().closest(".form-row").remove();
            })

            $("#addbutton").click(function (){
                let newRow = $(rowCreate({
                    "time_before": "00:00",
                    "time_after": "00:00",
                    "subject_type": "weekly",
                    "subject_name": "",
                    "subject_index": 0
                }));
                newRow.find("input[name=type]").change(function () {
                    var value = $('input[name=type]:checked').val();
                    let currentRow = $(this).parent().closest(".form-row");

                    currentRow.find(".weeklyopt").removeClass("d-none").addClass(value == "weekly" || "d-none")
                    currentRow.find(".dailyopt").removeClass("d-none").addClass(value == "daily" || "d-none")
                });
                $("#lastrow").before(newRow);
            })
        }

        console.log("dostuff");

        // Get daily schedule list
        $.ajax({
            url:"https://kindergartentest.free.beeceptor.com/api/schedule/daily/0",
            type:"GET",
            async:true,
            cache:true,
            success:onScheduleListGet,
        });
    })
</script>