﻿
@{
    ViewBag.Title = "DailySchedule";
    Layout = "~/Views/Admin/Shared/AdminLayout.cshtml";
}

<div class="container">
    <div>
        <div class="row">
            <div class="col-auto"><button class="btn btn-primary" id="menu-toggle" type="button" style="margin-top: 1rem;width: 40px;margin-bottom: 10px;"><i class="fa fa-bars"></i></button></div>
        </div>
        <div class="row h-100" style="margin-bottom: 1rem;">
            <div class="col-auto my-auto">
                <h1 style="margin-bottom: 0px;">Daily Schedule</h1>
            </div>
        </div>
    </div>
    <form style="padding: 0px 5px;" id="scheduleform" class="d-none" method="GET" action="https://kindergartentest.free.beeceptor.com/api/schedule/daily/list">
        <div class="form-row">
            <div class="col-3">
                <div class="form-group">
                    <label>Select Class</label>
                    <select class="form-control" id="classselect" name="classid">
                    </select>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-3">
                <div class="form-group"><button class="btn btn-primary" type="submit">Open Class</button></div>
            </div>
        </div>
    </form>
    <div class="table-responsive d-none" id="scheduletable">
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="daystable">
            </tbody>
        </table>
    </div>
</div>

@* ========================== Script =============================== *@

<script>
    function newrow (day, status){
        const days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"];
        const dayStatus = ["Unset", "Set"]

        return `<tr><td>${days[day]}</td><td>${dayStatus[status]}</td>
                    <td>
                        <button class="btn btn-secondary btn-sm" type="button" style="margin-right: 5px;" data-dayid="${day}" data-btntype="edit">Edit</button>
                        <button class="btn btn-danger btn-sm" type="button" data-dayid="${day}" data-btntype="reset">Reset</button>
                    </td>
                </tr>`
    }
    
    $(document).ready(function (){
        function onClassListGet (data, status){
            let isFirst = true;
            for ([classID, className] of data) {
                $("#classselect").append(new Option(className, classID, isFirst))
                if (isFirst) isFirst = false;
            }

            $("#scheduleform").removeClass("d-none");
        }

        function onScheduleListGet (data, status) {
            for (datavalue of data) {
                $("#daystable").append(newrow(datavalue.dayID, datavalue.status))
            }

            $(":button").filter(`[data-btntype="reset"]`).click(function (event){
                console.log($(this).data("dayid"));
                // Call API for resetting here
            })

            $("#scheduletable").removeClass("d-none");
        }

        // Get classes list
        $.ajax({
            url:"https://kindergartentest.free.beeceptor.com/api/class/list",
            type:"GET",
            async:true,
            cache:true,
            success:onClassListGet,
        });

        $("#scheduleform").submit(function (event){
            // Get classes list
            $.ajax({
                url:"https://kindergartentest.free.beeceptor.com/api/schedule/daily/list",
                type:"GET",
                async:true,
                cache:true,
                success:onScheduleListGet,
            });
            event.preventDefault();
        })
    })
</script>