﻿
@{
    ViewBag.Title = "Evaluation";
    Layout = "~/Views/Admin/Shared/AdminLayout.cshtml";
}

<div class="container">
    <div>
        <div class="row">
            <div class="col-auto"><button class="btn btn-primary" id="menu-toggle" type="button" style="margin-top: 1rem;width: 40px;margin-bottom: 10px;"><i class="fa fa-bars"></i></button></div>
        </div>
        <div class="row h-100" style="margin-bottom: 1rem;">
            <div class="col-auto my-auto">
                <h1 style="margin-bottom: 0px;">Send Evaluation Report</h1>
            </div>
        </div>
    </div>
    <form style="padding: 0px 5px;" id="evaluationform" action="/api/testing" method="POST">
        <div class="form-row">
            <div class="col">
                <div class="form-group"><label>Subject</label><input class="form-control" type="text" name="subject" id="subject" pattern="[A-Za-z0-9\w]{4,20}"required></div>
            </div>
            <div class="col-auto">
                <div class="form-group">
                    <label>Target</label>
                    <div>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-primary active">
                                <input type="radio" name="target" id="individual" value="individual" autocomplete="off" checked> Individual
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="target" id="class" value="class" autocomplete="off"> Class
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="form-group">
                    <label id="targetnameValue">Target Name</label>
                    <div class="input-group">
                        <input class="form-control" name="targetname" id="targetname" type="text" required>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" id="checkbutton">
                                Check
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group"><label>Message</label><textarea class="form-control" rows="10" name="message" id="message" required></textarea></div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-auto ml-auto"><button class="btn btn-primary" id="submitbutton" type="submit">Send</button></div>
        </div>
    </form>
</div>

@*========================= Scripts ==================================*@

<script>
    function capitalizeFirstLetter(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
    }

    function setCheckButtonTheme() {
        switch (checkButtonState) {
            case "standby":
                $("#checkbutton")
                    .removeAttr("disabled")
                    .removeClass("btn-warning")
                    .removeClass("btn-danger")
                    .removeClass("btn-success")
                    .addClass("btn-primary");
                break;
            case "notfound":
                $("#checkbutton")
                    .removeAttr("disabled")
                    .removeClass("btn-warning")
                    .removeClass("btn-primary")
                    .removeClass("btn-success")
                    .addClass("btn-danger");
                break;
            case "finding":
                $("#checkbutton")
                    .removeClass("btn-primary")
                    .removeClass("btn-danger")
                    .removeClass("btn-success")
                    .addClass("btn-warning")
                    .attr("disabled", true);
                break;
            case "found":
                $("#checkbutton")
                    .removeAttr("disabled")
                    .removeClass("btn-warning")
                    .removeClass("btn-danger")
                    .removeClass("btn-primary")
                    .addClass("btn-success");
                break;
        }
    }

    function setCheckButtonState(state) {
        const allowedStates = ["standby", "notfound", "finding", "found"];

        if (!allowedStates.includes(state)) {
            throw new Error(state + " is not in a list of possible states");
        }

        checkButtonState = state;
        setCheckButtonTheme();
    }

    var checkButtonState = "standby" // Possible values = standby, notfound, finding, and found.

    $(document).ready(function () {
        // Assign target text to target name
        var defaultOptionValue = $('input[name=target]:checked').val();
        $("#targetnameValue").text(capitalizeFirstLetter(defaultOptionValue) + " Name");
        
        // Init popover for target textbox
        $("#targetname").popover({
            animation: true,
            content: function (){
                switch (checkButtonState) {
                    case "standby":
                        return capitalizeFirstLetter($('input[name=target]:checked').val()) + " name is not checked yet. Please press the check button";
                    case "notfound":
                        return capitalizeFirstLetter($('input[name=target]:checked').val()) + " name is not exist. Please try another one";
                }
            },
            trigger: "manual",
            placement: "bottom"
        })

        // Target name on change
        $("#targetname").on('input', function (event){
            setCheckButtonState("standby");
            $(this).popover('hide')
        })

        // Target group on change
        $('input[name=target]').change(function () {
            var value = $('input[name=target]:checked').val();
            $("#targetnameValue").text(capitalizeFirstLetter(value) + " Name");

            // Make sure to cancel any get operation here.
            $("#targetname").popover('hide')
            setCheckButtonState("standby")
        });

        // Checkbutton on click
        $("#checkbutton").click(function () {
            setCheckButtonState("finding");
            $("#targetname").popover('hide')

            setTimeout(function () {
                setCheckButtonState("notfound");
            }, 1000)
        })

        // Do some check for the form if the submit button should be enabled
        $(document.querySelectorAll("#evaluationform"))
            .find(":input")
            .not("[type=radio],button")
            .on('input', $.debounce(250, function (event){
                // Add button variable for easy manipulation
                const submitButton = $("#submitbutton");

                // // Check every field if value exists
                // $(document.querySelectorAll("#evaluationform"))
                // .find(":input")
                // .not("[type=radio],button")
                // .each(function (i, e){
                //     let jqueryElement = $(e);
                //     console.log(jqueryElement.valid());
                // })

                // Validate form
                let validate = $("#evaluationform").validate({
                    debug:true,
                    errorPlacement: function(error, element) {
                        // don't add the error labels
                        return true;
                    }
                });
                validate.hideErrors();
                let isValid = validate.checkForm();
                validate.submitted = {};

                submitButton.attr("disabled", !isValid)
            }))


        // Form on submit
        $("#evaluationform").submit(function (event){
            let isSubmittable = true;
            // Check if checkbutton state is not found
            if (checkButtonState !== "found"){
                $("#targetname").popover('show')
                isSubmittable = false;
            }

            if (!isSubmittable) {
                event.preventDefault();
            } else {
                event.submit();
            }
        })
    })
</script>