﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/Shared/AdminLayout.cshtml";
}

<div class="container">
    <div>
        <div class="row">
            <div class="col-auto">
                <button class="btn btn-primary" id="menu-toggle" type="button"
                        style="margin-top: 1rem;width: 40px;margin-bottom: 10px;">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
        </div>
        <div class="row h-100" style="margin-bottom: 1rem;">
            <div class="col-auto my-auto">
                <h1 style="margin-bottom: 0px;">Overview</h1>
            </div>
        </div>
    </div>
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert"
                aria-label="Close">
            <span aria-hidden="true">×</span>
        </button><span>
            <strong>
                Next month schedule
                for class 2 is still incomplete!
            </strong>User will not be able to see the entire month
            schedule.
        </span>
    </div>
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert"
                aria-label="Close">
            <span aria-hidden="true">×</span>
        </button><span>
            <strong>
                Next month schedule
                for class 1 is still incomplete!
            </strong>User will not be able to see the entire month
            schedule.
        </span>
    </div>
    <div class="card" style="margin-bottom: 20px;">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 style="margin: 0;">User Pending Verification</h3>
                </div>
                <div class="col-auto d-xl-flex justify-content-xl-end">
                    <i class="fa fa-arrow-right d-xl-flex justify-content-xl-start"
                       style="font-size: 25px;"></i>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-sm">
                    <tbody>
                        <tr class="table-success">
                            <td>153523</td>
                            <td>reinhard_amber@gmail.com</td>
                            <td>10 September 2020</td>
                        </tr>
                        <tr>
                            <td>252345</td>
                            <td>kiryucoco69@yahoo.com</td>
                            <td>09 September 2020<br></td>
                        </tr>
                        <tr>
                            <td>736346</td>
                            <td>tsunomakiwatame@gmail.com</td>
                            <td>09 September 2020<br></td>
                        </tr>
                        <tr>
                            <td>235245</td>
                            <td>reinamatrivski@gmail.com</td>
                            <td>09 September 2020<br></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 style="margin: 0;">User Payment</h3>
                </div>
                <div class="col-auto d-xl-flex justify-content-xl-end">
                    <i class="fa fa-arrow-right d-xl-flex justify-content-xl-start"
                       style="font-size: 25px;"></i>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-sm">
                    <tbody>
                        <tr class="table-success">
                            <td>Mr. John Doe</td>
                            <td>202008313124</td>
                            <td>31 August 2020<br></td>
                            <td>Tuition</td>
                        </tr>
                        <tr class="table-success">
                            <td>Mr. Reiza</td>
                            <td>202008292413</td>
                            <td>29 August 2020<br></td>
                            <td>Tuition</td>
                        </tr>
                        <tr>
                            <td>moricalliope@gmail.com</td>
                            <td>202008205352</td>
                            <td>20 August 2020<br></td>
                            <td>Book</td>
                        </tr>
                        <tr>
                            <td>Mrs. Gura</td>
                            <td>202001193523</td>
                            <td>19 January 2020<br></td>
                            <td>Tuition<br></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>