﻿@model LVL2_ASPNet_Final_Project.Models.view_userDataDetails

@{
    ViewBag.Title = "UserFormDataDetails";
    Layout = "~/Views/Admin/Shared/AdminLayout.cshtml";
}

<div class="container">
    <div>
        <div class="row">
            <div class="col-auto"><button class="btn btn-primary" id="menu-toggle" type="button" style="margin-top: 1rem;width: 40px;margin-bottom: 10px;"><i class="fa fa-bars"></i></button></div>
        </div>
        <div class="row h-100" style="margin-bottom: 15px;">
            <div class="col-auto my-auto">
                <div class="text-center" style="width: 40px;"><a href="#"><i class="fa fa-arrow-left" style="font-size: 2rem;"></i></a></div>
            </div>
            <div class="col-auto my-auto">
                <h1 style="margin-bottom: 0px;">User Data</h1>
            </div>
            <div class="col text-muted my-auto" style="padding: 0px;">
                <h3 style="margin-bottom: 0px;">For @Model.parent_name<br></h3>
            </div>
        </div>
    </div>
    <form>
        <div>
            <h2>Parent</h2>
            <div class="form-group"><label>Full Name</label><input class="form-control" type="text" readonly="" value="@Model.parent_name"></div>
            <div class="form-group"><label>NIK</label><input class="form-control" type="text" readonly="" value="@Model.parent_nik"></div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group"><label>Birth Place</label><input class="form-control" type="text" readonly="" value="@Model.parent_birthplace"></div>
                </div>
                <div class="col">
                    <div class="form-group"><label>Birth Date</label>
                        <input class="form-control" type="text" readonly="" value="@String.Format("{0:dd-MM-yyyy}", Model.parent_birthdate)"></div>
                </div>
            </div>
            <div class="form-group"><label>Address</label><textarea class="form-control" rows="4" readonly="">@Model.address</textarea></div>
        </div>
        <hr>
        <div>
            <h2>Child</h2>
            <div class="form-group"><label>Full Name</label><input class="form-control" type="text" readonly="" value="@Model.child_name"></div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group"><label>Birth Place</label><input class="form-control" type="text" readonly="" value="@Model.child_birthplace"></div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Birth Date</label>
                        <input class="form-control" type="text" readonly="" value="@String.Format("{0:dd-MM-yyyy}", Model.child_birthdate)">
                        @* <input class="form-control" type="date" readonly="" value="@String.Format("{0:dd-MM-yyyy}", Model.child_birthdate)"> *@
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div>
            <h2>Documents</h2>
            <div class="form-row">
                <div class="col">
                    <div class="form-group"><label>KTP&nbsp;</label>
                        <div><a href="https://via.placeholder.com/400x300"><img src="https://via.placeholder.com/400x300"></a></div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group"><label>Kartu Keluarga&nbsp;</label>
                        <div><a href="https://via.placeholder.com/450x300"><img src="https://via.placeholder.com/450x300"></a></div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group"><label>Akta&nbsp;</label>
                        <div><a href="https://via.placeholder.com/500x300"><img src="https://via.placeholder.com/500x300"></a></div>
                    </div>  
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group"><label>Foto&nbsp;</label>
                        <div><a href="http://homeserver:25478/files/2F5F268A057C8904?token=Eu38ShWsJkT9W9fB"><img src="http://homeserver:25478/files/2F5F268A057C8904?token=Eu38ShWsJkT9W9fB"></a></div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </form>
</div>