﻿
@{
    ViewBag.Title = "UserFormData";
    Layout = "~/Views/Admin/Shared/AdminLayout.cshtml";
}

<div class="container">
    <div>
        <div class="row">
            <div class="col-auto"><button class="btn btn-primary" id="menu-toggle" type="button" style="margin-top: 1rem;width: 40px;margin-bottom: 10px;"><i class="fa fa-bars"></i></button></div>
        </div>
        <div class="row h-100" style="margin-bottom: 1rem;">
            <div class="col-auto my-auto">
                <h1 style="margin-bottom: 0px;">Users Data</h1>
            </div>
        </div>
    </div>
    <div style="margin-bottom: 1rem;">
        <h4>Search By</h4>
        <form style="max-width: 550px;">
            <div class="form-row align-items-center" style="margin-bottom: 10px;">
                <div class="col-3">
                    <div class="custom-control custom-checkbox"><input class="custom-control-input" type="checkbox" id="formCheckID"><label class="custom-control-label" for="formCheckID">ID</label></div>
                </div>
                <div class="col"><input class="form-control form-control-sm" type="number"></div>
            </div>
            <div class="form-row align-items-center" style="margin-bottom: 10px;">
                <div class="col-3">
                    <div class="custom-control custom-checkbox"><input class="custom-control-input" type="checkbox" id="formCheckReceiver"><label class="custom-control-label" for="formCheckReceiver">Username</label></div>
                </div>
                <div class="col"><input class="form-control form-control-sm" type="text"></div>
            </div>
            <div class="form-row align-items-center" style="margin-bottom: 10px;">
                <div class="col-3">
                    <div class="custom-control custom-checkbox"><input class="custom-control-input" type="checkbox" id="formCheckSubject"><label class="custom-control-label" for="formCheckSubject">Name</label></div>
                </div>
                <div class="col"><input class="form-control form-control-sm" type="text"></div>
            </div>
            <div class="form-row align-items-center">
                <div class="col-auto ml-auto"><button class="btn btn-primary" type="button">Search</button></div>
            </div>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="userformtable">
            </tbody>
        </table>
    </div>
    <form>
        <div class="form-row justify-content-end">
            <div class="col-auto"><select class="form-control"><option value="12" selected="">2</option><option value="12" selected="">5</option><option value="12" selected="">10</option><option value="12" selected="">20</option></select></div>
            <div class="col-auto">
                <nav>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </form>
</div>

@* ================================== Script ========================================= *@
<script>
    $(document).ready(function (){
        function createRow(data) {
            let tableRow = $(`
                    <tr>
                        <td class="align-middle">${data.id}</td>
                        <td class="align-middle">${data.email}</td>
                        <td class="align-middle">${data.name}</td>
                        <td class="align-middle">${data.phone}</td>
                        <td class="align-middle">
                            <a href="/admin/userformdatadetails/${data.id}" class="btn btn-primary btn-sm" role="button">Details</a>
                        </td>
                    </tr>`);

            return tableRow;
        }

        function onUserDataListGet(data, success) {
            console.log(data)
            for (datavalue of data) {
                $("#userformtable").append(createRow(datavalue));
            }
        }

        $.ajax({
            url:"http://localhost:52601/api/adminapi/getUserDataList",
            type:"GET",
            data: $.param({
                offset: 0,
                limit: 100000,
            }),
            async:true,
            cache:true,
            success:onUserDataListGet,
        });

        $("#userformtable")
    })
</script>