﻿
@{
    ViewBag.Title = "Verification";
    Layout = "~/Views/Admin/Shared/AdminLayout.cshtml";
}

<div class="modal fade" role="dialog" tabindex="-1" id="verifymodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Payment Proof</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row" style="margin-bottom: 10px;">
                        <div class="col"><span style="margin-bottom: 10px;">Please insert the payment ID code</span></div>
                    </div>
                    <div class="form-row" style="margin-bottom: 10px;">
                        <div class="col"><input class="form-control" type="text"></div>
                    </div>
                    <div class="form-row" style="margin-bottom: 10px;">
                        <div class="col"><span>The payment attachment image will be shown below</span></div>
                    </div>
                    <div class="form-row">
                        <div class="col text-center text-muted" style="font-size: 14px;">
                            <div class="form-row">
                                <div class="col"><span>ID: Not Found</span></div>
                            </div>
                            <div class="form-row">
                                <div class="col"><span>-</span></div>
                            </div>
                            <div class="form-row" style="margin-bottom: 10px;">
                                <div class="col"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Cancel</button><button class="btn btn-primary" type="button" disabled="">Verify</button></div>
        </div>
    </div>
</div>

@*========================================================================*@

<div class="container" style="margin-left: 0px;max-width: 850px;">
    <div>
        <div class="row">
            <div class="col-auto"><button class="btn btn-primary" id="menu-toggle" type="button" style="margin-top: 1rem;width: 40px;margin-bottom: 10px;"><i class="fa fa-bars"></i></button></div>
        </div>
        <div class="row h-100" style="margin-bottom: 1rem;">
            <div class="col-auto my-auto">
                <h1 style="margin-bottom: 0px;">User Verification</h1>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="align-middle">135113</td>
                    <td class="align-middle">Kyler_Lowe17@gmail.com</td>
                    <td class="align-middle">930-406-5087</td>
                    <td class="align-middle"><button class="btn btn-success btn-sm" type="button" data-toggle="modal" data-target="#verifymodal" data-id="135113">Verify</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@*======================== Scripts =============================*@

<script>
    $(document).ready(function () {
        $('#verifymodal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var id = button.data('id') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            console.log(button, modal);
            modal.find('.modal-title').text('Payment proof for ' + id)
            //modal.find('.modal-body input').val(recipient)
        })
    })
</script>